/book/chapter1/hello_cargo/target/
/book/chapter2/guessing_game/target/
/book/chapter3/data_types/target/
/book/chapter3/functions/target/
/book/chapter3/loops/target/
/book/chapter3/variables/target/
/book/chapter3/exercitia/target/
